.gridblock-container {
    border: 2px solid black;
    aspect-ratio: 1;
    max-height: 80px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255,255,255,0.5);
}

.gridblock-content {
    margin: 0;
    padding: 0;
}

.circle{
    width: 30px;
    height: 30px;
    /* background-color: black; */
    border-radius: 50%;
    animation: 1.5s appear ease-in;
}

@keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }