.gridblock-container {
    border: 2px solid black;
    aspect-ratio: 1;
    max-height: 80px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridblock-content {
    margin: 0;
    padding: 0;
}

.circle{
    width: 30px;
    height: 30px;
    /* background-color: black; */
    border-radius: 50%;
}